#stepby{
	width: 618px;
	height: 25px;
	background: url(../img/progressBar.gif) 0px -27px no-repeat;
	float: right;
	margin-top: 33px;
}
.order-body{
	margin-bottom: 100px;
	margin-top: 30px;
	border: 1px solid #F5F5F5;
}
.order-title{
	width: 1200px;
	height: 36px;
	background: #F5F5F5;
	padding: 0px 80px;
	line-height: 36px;
}
.shop-message{
	background: url(../img/shop_car.gif);
	background-position: 0px -358px;
	width: 113px;
	height: 33px;
	display: block;
	float: left;
}
.pay-message{
	background: url(../img/shop_car.gif);
	background-position: 0px -323px;
	width: 183px;
	height: 33px;
	display: block;
	float: left;
}
body .order-title>a{
	margin-left: 30px;
	float: left;
    height: 33px;
    color: #E50065;
    line-height: 33px;
    text-decoration: none;
}
.pay{
	height: 119px;
	padding: 20px 123px;
	font-size: 12px;
}
.pay p a{
	color: #EB0067;
	text-decoration: none;
}
.pay p{
	font-size: 14px;
}
.pay p span{
	color: #EB0067;
}
.pay p:first-child{
	font-size: 12px;
}
.pay p:first-child span{
	border: 1px solid #EB0067;
	color: #EB0067;
}
.title-address{
	background: url(../img/shop_car.gif);
	background-position: 0px -288px;
	width: 113px;
	height: 33px;
	display: block;
	float: left;
}
.order-body .backtoshop{
	float: right;
	text-decoration: none;
	color: #333333;
}
.address{
	line-height: 58px;
	padding: 0px 123px;
}
.buygoods{
	border-top: 1px solid #ebebeb;
	width: 100%;
}
.goods{
	margin: 20px 0 0 30px;
}
.goods-title{
	line-height: 30px;
	font-size: 13px;
	width: 1080px;
	height: 30px;
	background: #f5f5f5;
	padding: 0px 80px;
	color: #333333;
}

.goods-line{
	border: 1px solid #F5F5F5;
	width: 1080px;
	margin-bottom: 10px;
}
.buygoods>span{
	display: block;
	margin: 10px 123px;
}
.paygoods>table{
	margin: 0px auto;
	border: 1px solid #ebebeb;
	text-align: center;
	width: 1019px;
}
.paygoods>table .firsttr{
	height: 30px;
	line-height: 30px;
	background: #f5f5f5;
}
.firsttd{
	padding: 5px 65px;
}
.firsttd>img{
	float: left;
}
.firsttd>div{
	float: right;
	text-align: left;
	font-size: 12px;
	padding-right: 60px;
	padding-top: 5px;
	width: 400px;
}
.firsttd>div p{
	color: ##5B5B5B;
}
.firsttd>div p:last-child{
	color: #9c9c9c;
}
.othertd{
	padding: 5px 0px;
	width: 130px;
	font-size: 12px;
}
.othertd:last-child{
	color: #d90077 ;
}
.order-price-all{
	height: 113px;
	width: 1019px;
	margin: 30px auto;
}
.order-price-all-left>.text{
	border: 1px solid #ebebeb;
	width: 238px;
    height: 19px;
    color: #c7c7c7;
    margin-right: 5px;
    padding-left: 3px;
}
.order-price-all-left>.text::-webkit-input-placeholder{
    color:#c7c7c7;
}
body .order-price-all-left>a{
	display: inline-block;
    text-align: center;
	font-size: 12px;
	margin-left: 8px;
    width: 66px;
    border: 1px solid #D5D5D5;
    color: #262626;
    line-height: 20px;
    text-decoration: none;
}
body .order-price-all-left>a:hover{
	color: #d90077;
}
.order-price-all-left{
	float: left;
}
.order-price-all-right{
	text-align: right;
	float: right;
	font-size: 12px;
	color: #555555;
}
.order-price-all-right>table tr:first-child{
	font-weight: bold;
}
.order-price-all-right>table td:last-child{
	display: block;
	width: 125px;
	height: 30px;
	line-height: 30px;
	color: #d90077;
	font-size: 12px;
}
#price-all{
	font-size: 24px;
}
.order-line{
	border-top: 1px solid #ebebeb;
	display: block;
	width: 1019px;
	margin: 0px auto;
}
.paygoods>p{
	color: #555555;
	margin: 20px 88.5px;
	font-size: 12px;
}
.order-last{
	border-top: 1px solid #ebebeb;
	height: 184px;
	padding-top: 89px;
	text-align: right;
	font-size: 12px;
}
.order-last a{
	display: inline-block;
    width: 278px;
    height: 48px;
    border: none;
    background: #EB0067;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    margin-left: 20px;
    margin-right: 88.5px;
}
table img{
	width: 41px;
}
.goods-priceAll{
	border: 1px solid #EBEBEB;
	border-bottom: none;
	border-top: none;
	height: 190px;
	padding-top: 20px;
	color: #d60076;
	font-weight: 700px;
	font-size: 18px;
}
.goods-priceAll span{
	font-size: 12px;
	font-weight: bolder;
	color: #555555;
}
.goods-priceAll-left{
	margin: 20px;
	float: left;
}
.goods-priceAll-right{
	margin-top: 50px;
	float: right;
}
.goods-priceAll-right button{
	width: 226px;
	height: 48px;
	color: white;
	background: #EB0067;
	border: none;
	margin-right: 20px;
}
.recemsg{
	height:30px;
}
.selectArea{
	height:60px;
}
.province{
	float:left;
}
.city{
	margin-left:20px;
	float:left;
}
.submitaddress{
	border:none;
	color:white;
	display: block;
	background:#DB0060;
	height:38px;
	width:148px;
	line-height: 38px;
	font-size:18px;
	margin:20px 0px;
}
