.top{
	padding: 10px 25px;
	margin-bottom: 10px;
	background: white;
	border-bottom: #e3e3e3 solid 1px;
	font-size: 14px;
	font-family: "宋体";
}
.on{
	font-weight: bold;
}
.top a{
	color: black;
	line-height: 22px;
}
.top span{
	padding: 0px 14px;
}
.top input[type='text']{
	height: 16px;
	padding: 5px 15px;
	border: 1px solid #D5D5D5;
	color: #969696;
	margin-left: 530px;
}
.top input[type='submit']{
	background: #E50065;
	border: none;
	width: 67px;
	height: 26px;
	color: #fff;
	cursor: pointer;
}
.collection{
	background: white;
	padding: 50px;
}
.collection:after{
	content: '';display: block;clear: both;
}
/*无收藏*/
.collection-no{
	padding: 115px;
	text-align: center;
	display: block;
}
.collection-no-always{
	padding: 115px;
	text-align: center;
	display: none;
}
/*有收藏*/
.collect-list{
	float: left;
	width: 23%;
	margin: 10px 10px 0px 0px;
	/*height: 340px;*/
	border: 1px solid white;
	position: relative;
	text-align:center;
}
.collect-list img{
	width: 190px;
	height: 260px;
}
.pro_title{
	color: #8d8d8d;
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
	width: 190px;
	text-indent: 4px;
}
.collect-list span:nth-child(3){
	color:#E50067;
	font-family: simsun;
    font-size: 14px;
    margin: 2px 0px 0px 45px;
    font-weight: bold;
}
.collect-list span:nth-child(4){
	color:#CDCBCD;
	font-family: simsun;
    margin: 2px 0px 0px 12px;
    font-weight: bold;
    text-decoration: line-through;
}
.collect-list:hover{
	border: 1px deeppink solid;
	cursor: pointer;
}
.collect-list:hover .collect-operation{
	display: block;
}
/*删除 键*/
.collect-operation{
	position: absolute;
	left: 0px;
	top: 230px;
	display: none;
}
.collect-operation div{
	text-align: center;
	line-height: 30px;
	width: 110px;
	height: 30px;
	cursor: pointer;
}
.collect-operation div:nth-child(1){
	background: deeppink;
	float: left;
}
.collect-operation div:nth-child(2){
	background: black;
	color: white;
	float: right;
}
